__pycache__/
red_checkpoint.pth
black_checkpoint.pth
.env
build/
piece_move.c
piece_move.cp39-win_amd64.pyd
piece_move.cpython-39-x86_64-linux-gnu.so
red_replay_buffer.pt
black_replay_buffer.pt
piece_move.cpython-39-darwin.so